/*body section*/


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



/* Header Section */




header {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  width: 70px;
  margin-bottom: 10px;
  align-items: self-start;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav span {
  margin: 5px 0;
}

nav span a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}


main {
  padding: 15px;
}



/* About Me Section */




.main-aboutme {
  text-align: center;
  background-color: #3298db;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
}

.image-aboutme img {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
  margin-left: 3px;
  margin-top:20px ;
  
}

.text-aboutme {
  margin-left: 20px;
  flex: 1;
  margin-top: 20px; 
  font-size: 18px;
  
  font-size: 26px;
  color: white;
  height: auto;
}

.text-aboutme h1 {
  font-size: 40px;
}




/* Hobbies Section */





.hobbies-c {
  display: flex;
  flex-direction: column;
  background-color: #3498db;
  border-radius: 16px;
}

.hobbies-vid video {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
 
}

.hobbies-img img {
  width: 70%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.hobbies-subc{
  flex-direction: row;
}
.hobbies-vid{
  flex: 2;
}
.hobbies-para{
  flex: 1;
  color: white;
  margin-left: 20px;

}
.hobbies-img{
  flex: 1;
}




/* CV Section */




.cv-m {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #3298db;
  border-radius: 25px;
  
}

.cv-image img {
  max-width: 100%;
  height: auto;
  
  margin-top: 20px;
  margin-bottom: 40px;
  
}




.cv {
  font-size: 34px;
  text-align: center;
  color: white;
  margin-top: 40px;
}




/* Education Section */




.education-m {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  
  
  border-radius: 20px;
  background-color: #3498db;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px; 
}

.button-education {
  font-size: 16px;
  background-color:white;
  color: #3298db;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: default;
  margin-bottom: 20px;
}


.education-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; 
}

.education-details p{
  color: #fff;
}

.a {
  background-color: #2ecc71;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: default;
}






/* Skill Section */






.skill-m {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #3298db;
  border-radius: 20px;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  flex: 1;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.button-tech,
.button-soft,
.button-tool {
  padding: 8px 15px;
  font-size: 16px;
}

.column {
  text-align: center;
  margin-top: 10px;
}

.column h3 {
  font-size: 18px;
}

.column ul {
  list-style: none;
  padding: 5px;
}

.column li {
  margin-bottom: 5px;
}





/* Footer Section */





footer {
  background-color: #343;
  padding: 10px;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: end;
  margin-top: 10px;
  cursor: none;
}

.socials a {
  margin: 0 10px;
}

.socials img {
  width: 30px;
  height: auto;
}





/* Style for the four-dash symbol for mobile design */





.menu-icon {
  cursor: pointer;
  font-size: 36px;
  justify-self: end;
  color: white;
  display: flex; 
  flex-direction: row; 
}

.menu-icon:before {
  content: '\2261'; 
}

nav {
  display: none;
}

.menu-icon:target + nav {
  display: flex; 
  flex-direction: column; 
  align-items: start; 
}





@media only screen and (max-width: 100%) {

  header {
    flex-direction: column;
    align-items: flex-start;
  }


  nav span {
    flex: 1; 
    margin: 0 10px; 
  }

  
  nav {
    
      display: flex;
      justify-content: flex-start; 
    
  }

  .mobile-nav a {
    color: white;
  }

  .menu-icon {
    display: block;
  }


  


  .image-aboutme img,
  .cv-image img {
    margin-left: 0;
    align-items: self-start;
  }

  .socials {
    justify-content: center;
  }

  .socials a {
    margin: 0 5px;
  }
  
}









